<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" [translate]="tab.data.title" [routerLink]="[tab.path]"
        [routerLinkActive]="'active'"></a>
    </li>
    <ng-container *ngIf="(oneRosterEnabled$ | async) as oneRosterEnabled">
      <ng-container *if-location="'/classes/0/dashboard/oneRoster'">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['oneRoster']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [translate]="'OneRoster.OneRosterTools'" ></a>
      </li>
      </ng-container>
    </ng-container>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
