<div *ngIf="classExams">
  <div class="card" *ngIf="classExams.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 [translate]="'Classes.ClassExams'" class="mr-3 my-auto"></h5>
      <a [routerLink]="['/classes', this._activatedRoute.snapshot.params.id, 'dashboard', 'exams']" class="text-primary my-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
    </div>
    <div class="card-body pt-0">
      <div id="group-list"  class="flex-column">
        <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-header">
          <li class="sis&#45;&#45;list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis&#45;&#45;list-group-item_lg_column d-none d-md-block text-left" [translate]="'Classes.ClassTitle'"></div>
              <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block text-left" [translate]="'Classes.DisplayCode'"></div>
              <div class="sis&#45;&#45;list-group-item_lg_column d-none d-xl-block text-left" [translate]="'Exams.ExamPeriod'"></div>
              <div class="sis&#45;&#45;list-group-item_md_column d-none d-xl-block text-left" [translate]="'Exams.Status'"></div>
              <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block text-left" [translate]="'Exams.NumberOfGradedStudents'"></div>
              <div class="sis&#45;&#45;list-group-item_sm_column text-left"></div>
            </div>
          </li>
        </ul>
        <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-body">
          <li class="sis&#45;&#45;list-group-item" *ngFor="let exam of classExams">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis&#45;&#45;list-group-item_lg_column text-truncate"><span class="text-dark">{{ exam.courseExam.name }}</span></div>
              <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block text-lg-left"><span class="text-secondary">{{ exam.courseExam.course.displayCode }}</span></div>
              <div class="sis&#45;&#45;list-group-item_lg_column d-none d-xl-block text-truncate"><span class="text-secondary">
                  {{exam.courseExam?.examPeriod?.name }}</span></div>
              <div class="sis&#45;&#45;list-group-item_md_column d-none d-xl-block text-lg-left text-truncate"><span [ngClass]="exam.courseExam?.status.alternateName === 'new' ?'text-color-theme': exam.courseExam?.status.alternateName === 'open' ?'text-success': 'text-danger'" >{{'ExamStatus.' +  exam.courseExam.status.alternateName | translate }}</span></div>
              <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ exam.courseExam?.numberOfGradedStudents }}</span></div>
              <div class="sis&#45;&#45;list-group-item_sm_column text-right">
                <a [routerLink]="['/exams', exam.courseExam.id, 'dashboard', 'general']" class="far fa-eye text-indigo"></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-4 mb-3 text-left text-gray-600 font-xs" *ngIf="classExams.length == 1; else MoreClasses">
        <span>{{ classExams.length}} <span  [translate]="'Courses.Exam'"></span></span>
      </div>
      <ng-template #MoreClasses>
        <div class="mt-4 mb-3 text-left text-gray-600 font-xs">
          <span>{{ classExams.length}} <span  [translate]="'Exams.Title'"></span></span>
        </div>
      </ng-template>
    </div>
  </div>
  <div  *ngIf="classExams?.length == 0">
    <div class="card">
      <div class="card-header  mt-3" >
        <div class="row">
          <h5 [translate]="'Exams.Title'" class="mr-3 my-auto"></h5>
        </div>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Courses.NoExams'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
