<div>
  <p class="text-subtitle" *ngIf="target">{{target.title || target.name}}</p>
  <p class="text-secondary" [translate]="'CalculationRules.TitleHelp'"></p>
  <p class="text-secondary" [translate]="'CalculationRules.TitleAdditionalHelp'"></p>

  <div class="mb-4">
    <div class="dropdown">
      <button [translate]="'Rules.AddCalculationRule'"  class="btn btn-indigo dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ng-container *ngFor="let item of configuration.children">
          <a class="dropdown-item" (click)="add($event,item)" href="#">{{ 'Rules.' + item + '.Title' | translate}}</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<ng-container *ngFor="let item of items ;let i = index;">
  <ng-container *ngIf="item.data && item.data.$state != 4">
        <advanced-form-edit #form1 (customEvent)="onCustomEvent($event, form1, i)" [formConfig]="item.form" [(data)]="item.data" ></advanced-form-edit>
  </ng-container>
</ng-container>
