<form class="mt-3 collapsible-form">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="form-group text-dark">
        <label for="id" [translate]="'Classes.ClassId'"></label>
        <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [(ngModel)]="model.id">
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group text-dark">
        <label for="title" [translate]="'Classes.ClassTitle'"></label>
        <input [disabled]="true" class="form-control bg-white" id="title" name="title" type="text" [(ngModel)]="model.title">
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group text-dark">
        <label for="status" [translate]="'Classes.Status'"></label>
        <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text"  [value]="'ClassStatuses.' + model.status.alternateName | translate">
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="form-group text-dark">
        <label for="academicYear" [translate]="'Classes.AcademicYear'"></label>
        <input [disabled]="true" class="form-control bg-white" id="academicYear" name="academicYear" type="text" [(ngModel)]="model.year.alternateName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="form-group text-dark">
        <label for="period" [translate]="'Classes.Period'"></label>
        <input [disabled]="true" class="form-control bg-white" id="period" name="period" type="text" [value]="'Periods.' + model.period.alternateName | translate">
      </div>
    </div>
  </div>
</form>
