@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";

$day-width: 44px;
$day-height: 44px;

.datepicker {
  padding: 16px !important;
}

.datepicker-days {
  th {
    width: $day-width;
    height: $day-height;
  }
  td {
    width: $day-width;
    height: $day-height;
  }
  .next {
    color: var(--secondary);
    border-radius: 50%;
  }
  .prev {
    color: var(--secondary);
    border-radius: 50%;
  }
}


.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
  border-radius: 50%;
  background-image: none;
  background-color: var(--theme);
  background-repeat: repeat-x;
}

.datepicker-days .dow {
  font-weight: 400;
  color: var(--secondary);
}

.datepicker-switch {
  font-weight: 400;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
  border-radius: 50%;
}

.datepicker-switch {
  color: var(--secondary);
}
