<div>
    <div class="row">
      <div class="col-12">
        <h2 [translate]="'Settings.Lists.DegreeTemplates.Description'"></h2>
        <p class="mb-0" [translate]="'Settings.Lists.DegreeTemplates.LongDescription'"></p>
        <div class="mb-4">
          <a [routerLink]="['../specializations']" [translate]="'DegreeTemplates.SpecializationList.View'"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-degree-templates-import></app-degree-templates-import>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3" [ngVar]="{}" #filter="ngVar">
        <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
          <advanced-search>
            <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
          </advanced-search>
        </app-advanced-table-search>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mt-4">
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Items'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Item'"></span>
        </div>
      </div>
      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="btn-group" *ngIf="this.table && this.table.selectable">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button"
          (click)="remove()" [translate]="'Tables.RemoveItem'">
          </button>
          <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" [translate]="'Tables.RemoveItem'" (click)="remove()"></button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
            <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4">
        <app-advanced-table #table
        [showFooter]="false"
        (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
      </div>
    </div>
    <router-modal></router-modal>
  </div>
  