<li class="nav-item" dropdown>
  <a
    href="javascript:void(0)"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    dropdownToggle
    class="nav-link"
  >
    <span class="icon-list" title="{{ 'userActivity.title' | translate }}"></span>
  </a>

  <div *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" >
    <div class="dropdown-header bg-light">
      <h6 class="m-0 font-weight-light" [translate]="'UserActivity.title'" ></h6>
    </div>
    <ng-container *ngIf="userActionsList.length > 0">
      <a class="dropdown-item" *ngFor="let userAction of userActionsList" routerLink="{{ userAction?.url }}">
        {{ userAction?.category }}:
        {{ userAction?.description }} -
        {{ userAction?.dateCreated | date: ('short') }}
      </a>
    </ng-container>
    <div class="dropdown-item" *ngIf="userActionsList.length === 0">
      <span > {{'UserActivity.noEntries' | translate}} </span>
    </div>
  </div>
</li>
