<div class="report-card">
   <div style="display: none;" class="pdf-viewer-container hide-pdf-toolbar" #pdfViewerContainer>
    <div class="pdf-viewer-custom-toolbar position-fixed">
      <button class="btn btn-gray-300 text-white" title="{{'Reports.Viewer.Close' | translate}}" (click)="pdfClose()">
        <i class="fas fa-times"></i>
      </button>
        <button *ngIf="showSignButton" [disabled]="!enableSignButton" class="btn btn-indigo ml-2" title="{{'Reports.Viewer.Sign' | translate}}" (click)="signAction()">
            <i class="fas fa-handshake"></i>
        </button>
      <button class="btn btn-indigo ml-2" title="{{'Reports.Viewer.Download' | translate}}" (click)="downloadAction()">
        <i class="fas fa-download"></i>
      </button>
      <button class="btn btn-indigo ml-2" title="{{'Reports.Viewer.Print' | translate}}" (click)="printAction()">
        <i class="fas fa-print"></i>
      </button>
    </div>

    <ngx-extended-pdf-viewer
     #pdfViewer [src]="blob"
     [showPagingButtons] = "false"
     [showPrintButton] = "true"
     [showDownloadButton] = "true"
     [showRotateButton] = "false"
     [showPropertiesButton] = "false"
     [showPresentationModeButton] = "false"
     [showSidebarButton]="false"
     [showBookmarkButton]="false"
     [showOpenFileButton]="false"
     [useBrowserLocale]="true"
     [showScrollingButton]="false"
     [showSecondaryToolbarButton]="false"
     [showUnverifiedSignatures] = "true"
     height="100vh"></ngx-extended-pdf-viewer>
 </div>
</div>
