<div>
    <ng-container>
        <one-roster-indivisible-class [courseClass]="courseClass$ | async"></one-roster-indivisible-class>
      </ng-container>
    
      <ng-container>
        <one-roster-replace-classes #replaceClassesComponent [replacedBy]="replacedByComponent.replacedBy$" [courseClass]="courseClass$ | async" ></one-roster-replace-classes>
      </ng-container>

      <ng-container>
        <one-roster-replaced-by-class #replacedByComponent [replaces]="replaceClassesComponent.replaces$" [courseClass]="courseClass$ | async" ></one-roster-replaced-by-class>
      </ng-container>

      <ng-container>
        <one-roster-divide-class [courseClass]="courseClass$ | async" ></one-roster-divide-class>
      </ng-container>

</div>