<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="modal-title">{{modalTitle | translate}}</h5>
    <button (click)="cancel()" [disabled]="loading"
            type="button" class="close" data-dismiss="modal" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <div class="row" *ngIf="lastError">
      <div class="alert alert-warning col-12" role="alert">
        <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br>
        <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
        <small *ngIf="lastError.statusCode == null">{{lastError.message}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-container>
          <advanced-form-edit #formComponent [formName]="'StudyPrograms/copy'" ></advanced-form-edit>
        </ng-container>
      </div>
    </div>
  </div>

</div>
