<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
        <i class="fa fa-chevron-left pr-1"></i> {{ 'Internships.Title' | translate }}
      </a>
    </li>
  </ul>
  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2"> {{model.name}} <span
        class="font-xl"> {{ (model.internshipPeriod ? ' - ' + ('Periods.' + model.internshipPeriod.alternateName | translate) :  '') }} {{ (model.internshipYear ? '' +  model.internshipYear.alternateName  :  '') }}</span>
        <span><i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate" class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
      
      <!-- <div class="dropdown d-inline">
        <a class="pt-0 px-0" type="button" id="dropdownScholarshipsMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa-2x text-dots"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownScholarshipsMenuButton">
          <a class="dropdown-item" href="#/internships/{{model.id}}">{{ 'Internships.Preview' | translate }}</a>
          <a class="dropdown-item" href="#/internships/{{model.id}}/edit">{{ 'Internships.Edit' | translate }}</a>
          <a *ngIf="model.student" class="dropdown-item" href="#/students/{{model.student.id}}/">{{ 'Internships.PreviewStudent' | translate }}</a>
        </div>
      </div> -->
      </div>
      <div class="col-auto px-2 py-0 ml-auto" *ngIf="model">
        <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
      </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1" *ngIf="model.name">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Internships.InternshipTitle'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model.name}}</span>
      </div>
    </div>
    <div class="row m-1" *ngIf="model.internshipPeriod">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Internships.InternshipPeriodAlternateName'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ 'Periods.' + model.internshipPeriod.alternateName | translate }}</span>
      </div>
    </div>
    <div class="row m-1" *ngIf="model.internshipYear">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Internships.YearAlternateName'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model.internshipYear.alternateName}} </span>
      </div>
    </div>
    <div class="row m-1" *ngIf="model.status">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Internships.Status'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ 'InternshipStatus.' + model.status.alternateName | translate }}</span>
      </div>
    </div>
  </div>
</ng-template>

