<div class="row mt-4" *ngIf="model">
  <div class="card col-12 shadow-none border border-gray-200 text-secondary mt-3">
    <div class="card-body px-3 py-3">
      <form class="mt-2 collapsible-form" *ngIf="model">
        <div class="row">
          <div class="col-6">
            <div class="form-group text-dark">
              <label for="name" [translate]="'AttachmentTypes.Name'"></label>
              <input [disabled]="true" class="form-control bg-white" id="name" name="name"
                     type="text" [value]="model.name">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group text-dark">
              <label for="alternateName" [translate]="'AttachmentTypes.AlternateName'"></label>
              <input [disabled]="true" class="form-control bg-white" id="v" name="alternateName" type="text"
                     [value]="model.alternateName">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group text-dark">
              <label for="description" [translate]="'AttachmentTypes.Description'"></label>
              <textarea [disabled]="true" class="form-control bg-white" id="description" name="description" type="text"
                        [value]="model.description"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
