<div *ngIf="model">
  <div class="row mt-3" *ngIf="model?.length !=0;">
    <div class="col-lg-8 col-md-7 col-12 pl-0">
      <app-study-programs-preview-general-specialties></app-study-programs-preview-general-specialties>
      <app-study-programs-preview-actions></app-study-programs-preview-actions>
      <app-study-programs-preview-general-statistics></app-study-programs-preview-general-statistics>
      <app-study-programs-preview-general-statistics-student-status></app-study-programs-preview-general-statistics-student-status>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
      <app-study-programs-preview-general-profile [id]="model.id"></app-study-programs-preview-general-profile>
    </div>
  </div>
</div>
